.headingText {
    @apply text-2xl font-bold text-white lg:text-4xl
}

.subheadingText {
    @apply text-lg font-bold text-gray-400 lg:text-lg 
}

@keyframes animate {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 400%;
    }
}

.animation:hover:before {
    filter: blur(5px);
    opacity: 1;
    animation: animate 4s linear infinite;
}

.animation:hover {
    animation: animate 4s linear infinite;
}

.animationText {
  animation: animate 4s linear infinite;
}

.loader {
    width: 48px;
    height: 48px;
    display: inline-block;
    position: relative;
  }
  .loader::after,
  .loader::before {
    content: '';  
    box-sizing: border-box;
    width: 88px;
    height: 88px;
    border-radius: 50%;
    border: 2px solid #FFF;
    position: absolute;
    left: 0;
    top: 0;
    animation: animloader 2s linear infinite;
  }
  .loader::after {
    animation-delay: 1s;
  }
  
  @keyframes animloader {
    0% {
      transform: scale(0);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 0;
    }
  }

.swiper-button-next::after {
  position: absolute; 
  z-index: 45;
}

